# Lean sources must keep LF endings: recorded sha256 hashes are of the LF files.
*.lean text eol=lf
# Bash scripts with CRLF endings fail under WSL.
*.sh text eol=lf
# Verbatim copy of openai/math LICENSE; LF keeps its blob equal to upstream 261eeb9e.
LICENSE-openai-math text eol=lf
